body {
    background-color: #7cb489;
    width: 100%;
    height: 100%;
    font-family: "UTM Caviar Regular";
}
#form-content {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 80px;
    top: 100px;
    position: relative;
    box-shadow: 0px 10px 30px #111314;
    z-index: 6969;
}
#form-content-2 {
    height: inherit;
    background-color: #111314;
    padding: 20px;
    color: #f9fafb;
    font-size: 20px;
}
#form-content-2 > label {
    line-height: 40px;
}
#form-content-2-1 {
    width: 100%;
    margin: 0 auto;
}
#form-content-2-1 > button {
    border-radius: 2px !important;
}
#form-content-2-1 > a {
    margin-top: 20px;
}
.center {
    margin: 0 auto !important;
}
.btn {
    margin: auto !important;
}
button {
    align-items: center;
    margin: 10px 0 10px 0;
}
input {
    border-radius: 2px !important;
    margin-top: 5px;
    margin-bottom: 15px;
}
a {
    margin: 0px 10px 0 px 10px !important;
    color: #f9fafb;
}