<template>
       <div id="form-content">
        <div>
            <img class="img-responsive" src="/static/img/cover.jpg">
        </div>
        <div id="form-content-2">
            <form>
                <h2>Quên mật khẩu?</h2>
                <h4>Nhập địa chỉ email đăng ký của bạn vào bên dưới để đặt lại mật khẩu.</h4>
                <label>
                    Email:
                </label>
                <input type="email" required class="form-control" placeholder="Nhập email...">
                
                <div id="form-content-2-1" class="text-center" style="margin-top:20px; margin-bottom: 20px;">
                    <button type="submit" class="btn btn-lg btn-danger" style="margin: auto;">
                        Đồng ý
                    </button>
                    <br>
                    <a style="cursor:pointer" @click="$router.push('dang-nhap')">Quay lại đăng nhập
                        
                    </a>
                </div>
            </form>
        </div>
    </div>
</template>
