<style scoped>
body {
  font-family: "UTM Caviar Regular, UTM Avo Regular, UTM Neutra";
  font-family: "UTM Avo Regular";
}

#body {
}

#topbar {
  width: 100%;
  height: 60px;
  background-color: #0b0002;
  box-shadow: 0px 10px 30px #a30202;
  z-index: 6969;
}

#btn-top {
  padding: 15px;
  position: relative;
  right: 20px;
}

#btn-top > button {
  border-radius: 0px;
  background: #a30202;
  border: none;
  font-family: "UTM Avo Regular";
}

#btn-top > button:hover {
  background: #ffffff;
  color: #0b0002;
}
#LandingText > h1 {
  text-shadow: #a30202;
}
#landing {
  padding: 120px;
  background-image: url(/static/img/wd.jpg);
  height: 600px;
  max-width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#LandingText {
  color: #ffffff;
  font-size: 30px;
}

#LandingText > h1 {
  font-size: 60px;
  font-family: "UTM Neutra";
  letter-spacing: 10px;
}

#LandingText > h5 {
  font-size: 18px;
}

#LandingText > button {
  border-radius: 60px;
  background: none;
  border: 2px solid #ffffff;
  /* box-shadow: 0px 5px 20px #a30202; */
  position: relative;
  width: 30%;
  font-size: 24px;
  top: 100px;
  font-family: "UTM Neutra";
}

#LandingText > button:hover {
  color: #0b0002;
  background: #ffffff;
}

#section2 {
  max-width: 100%;
  height: inherit;
  background: #0b0002;
  padding: 20px;
  padding: 20px 150px 20px 150px;
  position: relative;
  margin: 0 auto;
}

.flex {
  display: flex;
}

#section2-1 > div {
  height: 200px;
  border: 1px solid #ffffff;
  margin: 20px 5px 20px 5px;
  padding: 20px;
}

#section2 .col-sm-4 {
  width: 32% !important;
}

#section2 > h4 {
  text-align: center;
  color: #ffffff !important;
}

#section2-1 .col-sm-4 > p {
  font-size: 36px;
  color: white;
}

#section2-1 .col-sm-4 > h4 {
  color: #ffffff;
}

#section2-1 .col-sm-4 > button {
  position: relative;
  bottom: -10px;
}

#section3 {
  padding: 50px 150px 30px 150px;
  height: 600px;
}

#section3-2 {
  width: 100%;
}

#section4 {
  background: url(/static/img/rog.jpg);
  height: 500px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#section4 > h1 {
  padding: 160px;
  font-weight: bold;
  color: #ffffff;
}

#section5 {
  height: 300px;
  width: 100%;
  background: #ffffff;
  text-align: center;
}
#section5 > p {
  padding: 60px;
}

a {
  text-decoration: none !important;
  color: #ffffff;
}
/*-------------Responsive------------*/

@media only screen and (max-width: 720px) {
  #section2 .col-sm-4 {
    width: 100% !important;
  }
  #section2 {
    padding: 30px;
  }
  #section3 {
    padding: 30px;
  }
  #section1 {
  }
  #landing {
    padding: 30px;
  }
}
</style>

<template>
      <div id="body">
   <div id="topbar" class="fixed-top">
            <div class="pull-right" id="btn-top">
                <button type="submit" class="btn btn-danger">
                    <a  @click="$router.push('/dang-ky')">Đăng ký</a>
                </button>
                <button type="submit" class="btn btn-danger">
                    <a  @click="$router.push('/dang-nhap')">Đăng nhập</a>
                </button>
            </div>
        </div>
        <div id="landing">
            <div class="text-center" id="LandingText">
                <h1>Donate24h</h1>
                <H5>
                    <i>Trang donate hàng đầu Việt Nam</i>
                </H5>
                <button class="btn btn-lg">ĐĂNG KÝ</button>
            </div>
        </div>
        <div id="section2">
            <div class="text-center">
                <h4 style="color:white; font-size: 24px">
                    <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</i>
                </h4>
            </div>
            <div>
                <div class="row text-center" id="section2-1">
                    <div class="col-sm-4">
                        <p>
                            <b>69999</b>
                        </p>
                        <h4>Streamer đã tin tưởng sử dụng +</h4>
                        <button class="btn btn-success">
                            Sự tin tưởng
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <b>69999</b>
                        </p>
                        <h4>Streamer đã tin tưởng sử dụng +</h4>
                        <button class="btn btn-success">
                            Sự tin tưởng
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <b>69999</b>
                        </p>
                        <h4>Streamer đã tin tưởng sử dụng +</h4>
                        <button class="btn btn-success">
                            Sự tin tưởng
                        </button>
                    </div>
                </div>

            </div>

        </div>
        <div id="section3">
            <div id="section3-1">
                <h2>Nhận Donate một cách dễ dàng và nhanh chóng</h2>
                <h4>Người xem có thể dế dàng donate bằng nhiều hình thức, tối đa hóa thu nhập của bạn mà vẫn an toàn
                </h4>
            </div>
            <div id="section3-2">
                <img class="img-responsive" src="/static/img/logo_banks.png">
                <img class="img-responsive" src="/static/img/LogoNhaMang.png">
            </div>
        </div>
        <div id="section4">
            <h1>Som</h1>
        </div>
        <div id="section5">
            <p>This is a legendary footer</p>
        </div>

      </div>
</template>
