<template>
        <div id="form-content">
        <div>
            <img class="img-responsive" src="/static/img/cover.jpg">
        </div>
        <div id="form-content-2">
            <form>
                <label>
                    Tên đăng nhập:
                </label>
                <input type="text" required class="form-control" placeholder="Nhập ID...">
                <label>
                    Mật khẩu:
                </label>
                <input type="password" required class="form-control" placeholder="Nhập mật khẩu...">
                <div id="form-content-2-1" class="text-center" style="margin-top:20px; margin-bottom: 20px;">
                    <button type="submit" class="btn btn-lg btn-success" style="margin: auto;">
                        Đăng nhập
                    </button>
                    <button class="btn btn-danger btn-lg">
                        <a href="register.html">Đăng ký
                            <span class="glyphicons glyphicons-chevron-right"></span>
                        </a>
                    </button>
                    <br>

                    <a @click="$router.push('/quen-mat-khau')" style="cursor:pointer">
                        Quên mật khẩu?
                    </a>
                </div>
            </form>
        </div>
    </div>
</template>