<style scoped>

        #streamer_page {}

        #cover {
            background: url('./images/cover.jpg');
            height: 200px;
            display: flex;
            background-color: #111314;
            padding-top: 80px;

            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #avatar {
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin: 10px;
            border: solid 2px white;
            background-color: #111314;
            box-shadow: 0 0 30px #333;
        }
    x
</style>
<template>
       <div id="streamer_page" class="container">
        <div id="cover">
            <div id="avatar">
                <img src="images\cover.jpg" style="object-position:50% 50% !important" class="img-responsive">
            </div>
            <div>
                <h3>{{name}}</h3>
                <h4>{{quote}}</h4>
                <button class="btn btn-warning" type="submit">Bảng Xếp Hạng</button>
            </div>
        </div>

    </div>


    </div>
</template>
    <script>
new Vue({
  el: "#streamer_page",
  data: {
    streamer: [
      {
        name: "Tên gì",
        quote: "Fuck you"
      }
    ]
  }
});
</script>